<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.ApiMapper">
	<!-- 유기동물 공고 API 데이터 등록 -->
	<insert id="insertPetData">
		INSERT INTO PET_NOTICE VALUES (seq_pet_notice_no.nextval,
		#{happenDt, jdbcType=VARCHAR},
		#{happenPlace, jdbcType=VARCHAR},
		#{kindCd, jdbcType=VARCHAR},
		#{colorCd, jdbcType=VARCHAR},
		#{age, jdbcType=VARCHAR},
		#{weight, jdbcType=VARCHAR},
		#{noticeNo, jdbcType=VARCHAR},
		#{noticeSdt, jdbcType=VARCHAR},
		#{noticeEdt, jdbcType=VARCHAR},
		#{popfile, jdbcType=VARCHAR},
		#{processState, jdbcType=VARCHAR},
		#{sexCd, jdbcType=VARCHAR},
		#{neuterYn, jdbcType=VARCHAR},
		#{specialMark, jdbcType=VARCHAR},
		#{careNm, jdbcType=VARCHAR},
		#{careAddr, jdbcType=VARCHAR},
		#{careTel, jdbcType=VARCHAR})
	</insert>
	
	<!-- 보호소 API 데이터 등록 -->
	<insert id="insertShelData">
		INSERT INTO shelter VALUES (seq_shelter_no.nextval,
		#{careNm, jdbcType=VARCHAR},
		#{divisionNm, jdbcType=VARCHAR},
		#{saveTrgtAnimal, jdbcType=VARCHAR},
		#{careAddr, jdbcType=VARCHAR},
		#{weekOprStime, jdbcType=VARCHAR},
		#{weekOprEtime, jdbcType=VARCHAR},
		#{weekCellStime, jdbcType=VARCHAR},
		#{weekCellEtime, jdbcType=VARCHAR},
		#{weekendOprStime, jdbcType=VARCHAR},
		#{weekendOprEtime, jdbcType=VARCHAR},
		#{weekendCellStime, jdbcType=VARCHAR},
		#{weekendCellEtime, jdbcType=VARCHAR},
		#{closeDay, jdbcType=VARCHAR},
		#{careTel, jdbcType=VARCHAR})
	</insert>
	
	<!-- 반려동물 문화시설 API 데이터 등록 -->
	<insert id="insertWithData">
		INSERT INTO WITH_PET VALUES (seq_with_pet_no.nextval,
		#{building, jdbcType=VARCHAR},
		#{category3, jdbcType=VARCHAR},
		#{road, jdbcType=VARCHAR},
		#{tel, jdbcType=VARCHAR},
		#{homepage, jdbcType=VARCHAR},
		#{day_off, jdbcType=VARCHAR},
		#{hour, jdbcType=VARCHAR},
		#{parking, jdbcType=VARCHAR},
		#{with_pet_info, jdbcType=VARCHAR},
		#{only_pet_info, jdbcType=VARCHAR},
		#{pet_size, jdbcType=VARCHAR},
		#{pet_limit, jdbcType=VARCHAR},
		#{inside, jdbcType=VARCHAR},
		#{outside, jdbcType=VARCHAR},
		#{extra, jdbcType=VARCHAR})
	</insert>
	
	<!-- 유기동물 공고 API 중복 데이터 삭제 -->
	<delete id="deletePetData">
  	<![CDATA[
  	DELETE FROM pet_notice a
      WHERE ROWID < (SELECT MAX(ROWID) 
                       FROM pet_notice b
                        WHERE a.popfile = b.popfile)
                        ]]>
	</delete>
	
	<!-- 유기동물 공고 API 종료된 데이터 삭제 -->
	<delete id="deletePetEnd">
		DELETE FROM pet_notice WHERE SUBSTR(PROCESSSTATE,1,2)='종료'
	</delete>
	
	<!-- 보호소 API 중복 데이터 삭제 -->
	<delete id="deleteShelData">
  	<![CDATA[
  	DELETE FROM shelter a
      WHERE ROWID < (SELECT MAX(ROWID) 
                       FROM shelter b
                        WHERE a.careNm = b.careNm)
                        ]]>
	</delete>
	
	<!-- 보호소 API 중복 데이터 삭제 -->
	<delete id="deleteWithData">
  	<![CDATA[
  	DELETE FROM with_pet a
      WHERE ROWID < (SELECT MAX(ROWID) 
                       FROM with_pet b
                        WHERE a.road = b.road)
                        ]]>
	</delete>
	




</mapper>