<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.spring.mapper.CommunityMapper">
  	<select id="selectCommunity">
  		select c_no, title, content, reg_date, nickname from community where c_no=#{c_no}
  	</select>
  	
  	<select id="selectCountAllCommunity">
  		select count(1) from community
  	</select>
  	
  	<select id="selectAllCommunityByPage" resultType="com.spring.domain.CommunityDTO">
  		<![CDATA[
		 select * from (select /*+INDEX(board index_board_bno_pk) */ ROWNUM as rn, b_no, title, content, reg_date, up_date, (select id from member where m_no=board.m_no) as id from board board where ROWNUM <=(#{cri.pageNum}*#{cri.amount})) where rn >((#{cri.pageNum}-1)*#{cri.amount})
		]]>
  	</select>
  </mapper>