<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.spring.mapper.CommunityApiMapper">
  	<select id="selectCommunityList" resultType="com.spring.domain.CommunityDTO">
	    <![CDATA[
		 select * from (select /*+INDEX(board index_board_bno_pk) */ ROWNUM as rn, b_no, title, content, reg_date, up_date, (select id from member where m_no=board.m_no) as id from board board where ROWNUM <=(#{cri.pageNum}*#{cri.amount})) where rn >((#{cri.pageNum}-1)*#{cri.amount})
		]]>
	  </select>
	  
	  <select id="communityCnt" resultType="int">
	      SELECT COUNT(*) AS result FROM community WHERE nickname=#{nickname}
	  </select>
	  
	  <insert id="insertCommunity">
	      INSERT INTO community(c_no, nickname, title, content, reg_date) VALUES(seq_c_no.nextval, #{nickname}, #{title}, #{content}, sysdate)
	  </insert>
	  
	  <update id="updateCommunity">
	      UPDATE community SET title=#{title}, content=#{content} WHERE c_no=#{c_no}
	  </update>
	  
	  <delete id="deleteCommunity">
	      DELETE FROM community WHERE c_no=#{c_no}
	  </delete>
  </mapper>