<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.spring.mapper.CommunityMapper">
  	<select id="selectCommunity" parameterType="int" resultType="com.spring.domain.CommunityDTO">
  		<![CDATA[
  		SELECT c.*, COALESCE(cl.like_cnt, 0) as like_cnt
	    FROM community c
	    LEFT JOIN (SELECT c_no, COUNT(*) as like_cnt FROM commu_like GROUP BY c_no) cl ON c.c_no = cl.c_no
	    WHERE c.c_no=#{c_no}
  		]]>
  	</select>
  	
  	<select id="selectAllCommunity" parameterType="int" resultType="com.spring.domain.CommunityDTO">
	    <![CDATA[
		SELECT c.*, 
		(SELECT COUNT(*) FROM reply r WHERE c.c_no = r.c_no) AS reply_cnt,
        (SELECT COUNT(*) FROM commu_like l WHERE c.c_no = l.c_no) AS like_cnt
		FROM community c
		GROUP BY c.c_no, c.nickname, c.title, c.content, c.reg_date, c.view_cnt
		ORDER BY c.c_no DESC
		]]>
	</select>
	
	<select id="viewCntCommunity" resultType="com.spring.domain.CommunityDTO">
	    <![CDATA[
		SELECT c.*, COUNT(r.r_no) AS reply_cnt
		FROM (
		  SELECT *
		  FROM community
		  ORDER BY view_cnt DESC
		  FETCH FIRST 5 ROWS ONLY
		) c
		LEFT JOIN reply r ON c.c_no = r.c_no
		GROUP BY c.c_no, c.nickname, c.title, c.content, c.reg_date, c.view_cnt
		]]>
	</select>
	
	<select id="likeCntCommunity" resultType="com.spring.domain.CommunityDTO">
	    <![CDATA[
		SELECT c.*, COUNT(r.r_no) AS reply_cnt, cl.like_cnt
		FROM (
		    SELECT *
		    FROM community
		    ORDER BY view_cnt DESC
		    FETCH FIRST 5 ROWS ONLY
		) c
		LEFT JOIN reply r ON c.c_no = r.c_no
		LEFT JOIN (
		    SELECT c_no, COUNT(l_no) AS like_cnt
		    FROM commu_like
		    GROUP BY c_no
		    ORDER BY like_cnt DESC
		    FETCH FIRST 5 ROWS ONLY
		) cl ON c.c_no = cl.c_no
		GROUP BY c.c_no, c.nickname, c.title, c.content, c.reg_date, c.view_cnt, cl.like_cnt
		]]>
	</select>
	
	<select id="replyCntCommunity" resultType="int">
	    <![CDATA[
		 select count(r_no) from community where c_no=#{c_no}
		]]>
	</select>
	
	<select id="selectMyCommunity" resultType="com.spring.domain.CommunityDTO">
	    <![CDATA[
		 select * from community where nickname=#{nickname,jdbcType=VARCHAR} order by c_no desc
		]]>
	</select>
  	
  	<select id="selectAllCommunityByPage" resultType="com.spring.domain.CommunityDTO">
  		<![CDATA[
		 select * from (select ROWNUM as rn, c_no, title, content, reg_date, (select nickname from members where nickname=community.nickname) as nickname from community community where ROWNUM <=(#{cri.pageNum}*#{cri.amount})) where rn >((#{cri.pageNum}-1)*#{cri.amount})
		]]>
  	</select>
  	
  	<insert id="insertCommunity">
	      INSERT INTO community(c_no,nickname, title, content, reg_date) VALUES(seq_c_no.nextval,#{nickname,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, sysdate)
	<!-- #{nickname,jdbcType=VARCHAR} --><!-- #{title,jdbcType=VARCHAR} --><!-- #{content,jdbcType=VARCHAR} -->
	</insert>
	  
	<update id="updateCommunity">
	      UPDATE community SET title=#{title,jdbcType=VARCHAR}, content=#{content,jdbcType=VARCHAR} WHERE c_no=#{c_no}
	</update>
	  
	<update id="viewCnt">
		UPDATE community SET view_cnt=view_cnt+1 WHERE c_no=#{c_no}
	</update>
	
	<delete id="deleteCommunity">
	      DELETE FROM community WHERE c_no=#{c_no}
	</delete>
  </mapper>
	