<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.spring.mapper.F_P_Mapper">
	
	<select id="selectLikedPostIdsByUser" resultType="com.spring.domain.F_P_DTO">
	  SELECT pet_notice_no
	  FROM favoritep
	  WHERE nickname=#{nickname,jdbcType=VARCHAR}
	 
	</select>
  <select id="selectPBoard"  resultType="com.spring.domain.F_P_DTO">
  		<![CDATA[
  		SELECT f.favoritep_no
      		     , f.favoritep_reg_date
      		     , p.pet_notice_no
      		     , p.popfile
      		     , p.careNm
      		     , p.careAddr
      		     , p.careTel
      		     , f.nickname
      		FROM favoritep f
      		JOIN pet_notice p ON f.pet_notice_no = p.pet_notice_no
      		WHERE f.nickname=#{nickname, jdbcType=VARCHAR}
      		]]>
  	</select>
  	<select id="selectCountPBoard" parameterType="int" resultType="int">	
  		
  			SELECT COUNT(1)FROM favoritep
  		
  		</select>
  	
  	 <select id="selectPBoardByPage" resultType="com.spring.domain.F_P_DTO">
  		<![CDATA[
  		SELECT 
              favoritep_no
              ,favoritep_reg_date
             ,pet_notice_no
             ,popfile
             ,careNm
              ,careAddr
             ,careTel
             ,nickname
             FROM (
              SELECT 
              ROWNUM as RN
              ,f.favoritep_no
        		, f.favoritep_reg_date
        		, p.pet_notice_no
        		, p.popfile
        		, p.careNm
        		, p.careAddr
        		, p.careTel
        		, f.nickname
        		FROM favoritep f
        		JOIN pet_notice p ON f.pet_notice_no = p.pet_notice_no
        		WHERE ROWNUM <= ( #{pageMaker.cri.pageNum, jdbcType=INTEGER} * #{pageMaker.cri.amount} )
        		AND f.nickname=#{nickname}
        		            )
        		   WHERE RN > ( ( #{pageMaker.cri.pageNum, jdbcType=INTEGER} - 1 ) * #{pageMaker.cri.amount} )
        		   
        		   ]]>
  		</select>
  		</mapper>

