<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.spring.mapper.F_W_Mapper">
  <select id="selectWBoard" resultType="com.spring.domain.F_W_DTO">
  		<![CDATA[
  		SELECT f.favoritew_no
      		     , f.favoritew_reg_date
      		     , w.with_pet_no
      		     , w.building
      		     , w.road
      		     , w.tel
      		     , (SELECT nickname FROM members WHERE nickname = f.nickname) as nickname
      		FROM favoritew f
      		JOIN with_pet w ON f.with_pet_no = w.with_pet_no
      		]]>
  	</select>
  	<select id="selectCountWBoard" parameterType="int" resultType="int">	
  		
  			SELECT COUNT(1)FROM favoritew
  		
  		</select>
  	 <select id="selectWBoardByPage" resultType="com.spring.domain.F_W_DTO">
  <![CDATA[
  SELECT 
    favoritew_no,
    favoritew_reg_date,
    with_pet_no,
    building,
    road,
    tel,
    nickname
  FROM (
    SELECT 
      ROWNUM as rn,
      f.favoritew_no,
      f.favoritew_reg_date,
      w.with_pet_no,
      w.building,
      w.road,
      w.tel,
      f.nickname
    FROM favoritew f
    JOIN with_pet w ON f.with_pet_no = w.with_pet_no
    WHERE ROWNUM <= ( #{pageMaker.cri.pageNum,jdbcType=INTEGER} * #{pageMaker.cri.amount} )
    AND f.nickname = #{nickname}
  )
  WHERE rn > ( ( #{pageMaker.cri.pageNum,jdbcType=INTEGER} - 1 ) * #{pageMaker.cri.amount} )
  ]]>
</select>
  	</mapper>