<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.FavoriteWithMapper">
    <!-- 페이징 포함한 반려동물 문화시설 즐겨찾기 리스트 조회 -->
    <select id="selectLikedWithList" resultType="com.spring.domain.FavoriteWithDTO">
        <![CDATA[
        SELECT 
            favoritew_no,
            favoritew_reg_date,
            with_pet_no,
            building,
            road,
            tel,
            nickname
        FROM (
            SELECT 
                ROWNUM as rn,
                f.favoritew_no,
                f.favoritew_reg_date,
                w.with_pet_no,
                w.building,
                w.road,
                w.tel,
                f.nickname
            FROM favoritew f
            JOIN with_pet w ON f.with_pet_no = w.with_pet_no
            WHERE ROWNUM <= ( #{pageMaker.cri.pageNum,jdbcType=INTEGER} * #{pageMaker.cri.amount} )
            AND f.nickname = #{nickname}
        )
        WHERE rn > ( ( #{pageMaker.cri.pageNum,jdbcType=INTEGER} - 1 ) * #{pageMaker.cri.amount} )
        ]]>
    </select>
    
    <!-- 닉네임 기준으로 반려동물 문화시설 즐겨찾기 리스트 개수 조회 -->
    <select id="selectLikedWithCount" parameterType="String" resultType="int">
        SELECT COUNT(1)FROM favoritew WHERE nickname=#{nickname, jdbcType=VARCHAR}
    </select>
    
    <!-- 이메일 전송 할 리스트 조회 -->
    <select id="selectLikedWithData" resultType="com.spring.domain.FavoriteWithDTO">
        <![CDATA[
        SELECT f.favoritew_no
            ,f.favoritew_reg_date
            ,w.with_pet_no
            ,w.building
            ,w.road
            ,w.tel
            ,f.nickname
        FROM favoritew f
        JOIN with_pet w ON f.with_pet_no = w.with_pet_no
        WHERE f.nickname=#{nickname, jdbcType=VARCHAR}
        ]]>
    </select>

    <!-- 유저가 즐겨찾기 눌렀는지 여부를 조회 -->
    <select id="selectIsLikedWith" resultType="com.spring.domain.FavoriteWithDTO">
        SELECT with_pet_no FROM favoritew
        WHERE nickname=#{nickname,jdbcType=VARCHAR}
    </select>

</mapper>