<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.FavoriteShelMapper">
    <!-- 페이징 포함한 보호소 즐겨찾기 리스트 조회 -->
    <select id="selectLikedShelList" resultType="com.spring.domain.FavoriteShelDTO">
        <![CDATA[
        SELECT 
            favorites_no
            ,favorites_reg_date
            ,shelter_no
            ,careNm
            ,careAddr
            ,careTel
            ,nickname
            FROM (
                SELECT 
                    ROWNUM as rn
                    ,f.favorites_no
                    ,f.favorites_reg_date
                    ,s.shelter_no
                    ,s.careNm
                    ,s.careAddr
                    ,s.careTel
                    ,f.nickname
                FROM favorites f
                JOIN shelter s ON f.shelter_no = s.shelter_no
                WHERE ROWNUM <= ( #{pageMaker.cri.pageNum,jdbcType=INTEGER} * #{pageMaker.cri.amount} )
                AND f.nickname=#{nickname}
            )
        WHERE rn > ( ( #{pageMaker.cri.pageNum,jdbcType=INTEGER} - 1 ) * #{pageMaker.cri.amount} )
        ]]>
    </select>

    <!-- 닉네임 기준으로 보호소 즐겨찾기 리스트 개수 조회 -->
    <select id="selectLikedShelCount" parameterType="String" resultType="int">
        SELECT COUNT(1)FROM favorites WHERE
        nickname=#{nickname,jdbcType=VARCHAR}
    </select>

    <!-- 이메일 전송 할 리스트 조회 -->
    <select id="selectLikedShelData" resultType="com.spring.domain.FavoriteShelDTO">
        <![CDATA[
        SELECT 
            f.favorites_no
            ,f.favorites_reg_date
            ,s.shelter_no
            ,s.careNm
            ,s.careAddr
            ,s.careTel
            ,f.nickname
            FROM favorites f
            JOIN shelter s ON f.shelter_no = s.shelter_no
            WHERE f.nickname=#{nickname, jdbcType=VARCHAR}
        ]]>
    </select>

    <!-- 유저가 즐겨찾기 눌렀는지 여부를 조회 -->
    <select id="selectIsLikedShel" resultType="com.spring.domain.FavoriteShelDTO">
        SELECT shelter_no FROM favorites
        WHERE nickname=#{nickname,jdbcType=VARCHAR}
    </select>
</mapper>