<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.spring.mapper.NoticeMapper">
  	<select id="selectNotice" parameterType="int" resultType="com.spring.domain.NoticeDTO">
  		<![CDATA[
  		select * from notice where notice_no=#{notice_no}
  		]]>
  	</select>
  	
  	<select id="selectAllNotice" resultType="com.spring.domain.NoticeDTO">
	    <![CDATA[
		 select * from notice order by notice_no desc
		]]>
	</select>
  	
  	<insert id="insertNotice">
	      INSERT INTO notice(notice_no, nickname, notice_title, notice_content, notice_reg_date) VALUES(seq_notice_no.nextval,#{nickname,jdbcType=VARCHAR}, #{notice_title,jdbcType=VARCHAR}, #{notice_content,jdbcType=VARCHAR}, sysdate)
	<!-- #{nickname,jdbcType=VARCHAR} --><!-- #{title,jdbcType=VARCHAR} --><!-- #{content,jdbcType=VARCHAR} -->
	</insert>
	
	<update id="updateNotice">
	      UPDATE notice SET notice_title=#{notice_title,jdbcType=VARCHAR}, notice_content=#{notice_content,jdbcType=VARCHAR} WHERE notice_no=#{notice_no}
	</update>
  	
  	<update id="viewCount">
		UPDATE notice SET view_count=view_count+1 WHERE notice_no=#{notice_no}
	</update>
	
	<delete id="deleteNotice">
	      DELETE FROM notice WHERE notice_no=#{notice_no}
	</delete>
  	
  </mapper>