<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.spring.mapper.P_Mapper">
  <select id="selectP" resultType="com.spring.domain.P_DTO">
  		<![CDATA[
  		SELECT pet_notice_no
		 ,happenDt
		,happenPlace
		 ,kindCd
		 ,colorCd
		,age
		,weight
		,noticeNo 
		,noticeSdt 
		,noticeEdt  
		,popfile  
		,processState 
		,sexCd
		,neuterYn
		,specialMark
		,careNm
		,careTel
		,careAddr
		FROM pet_notice WHERE pet_notice_no=#{pet_notice} 
		]]>
  	</select>
  	
  	 <select id="selectAllBoard" resultType="com.spring.domain.P_DTO">
  		<![CDATA[
  		SELECT*FROM(SELECT ROWNUM as rn,
  		pet_notice_no
		 ,happenDt
		,happenPlace
		 ,kindCd
		 ,colorCd
		,age
		,weight
		,noticeNo 
		,noticeSdt 
		,noticeEdt  
		,popfile  
		,processState 
		,sexCd
		,neuterYn
		,specialMark
		,careNm
		,careTel
		,careAddr
		from pet_notice
  		 WHERE ROWNUM <=(2*10)
  		 )
  		 WHERE rn>((2-1)*10)
  		 ]]>
			
  	</select>
  		 <select id="selectCountAllBoard" resultType="com.spring.domain.P_DTO">	
  		
  			SELECT COUNT(1)FROM pet_notice
  		
  		</select>
  	 <select id="selectAllBoardByPage" resultType="com.spring.domain.P_DTO">
  		<![CDATA[
  		SELECT * FROM (
				SELECT
				ROWNUM as rn
				,pet_notice_no
				,happenDt
				,happenPlace
				,kindCd
				,colorCd
				,age
				,weight
				,noticeNo 
				,noticeSdt 
				,noticeEdt  
				,popfile  
				,processState  
				,sexCd
				,neuterYn
				,specialMark
				,careNm
				,careTel
				,careAddr
				FROM  pet_notice 
				 WHERE ROWNUM <= ( #{cri.pageNum} * #{cri.amount} )  
				  )
				WHERE rn > ( ( #{cri.pageNum} - 1 ) * #{cri.amount} ) 
				]]>
  	</select>
  	</mapper>