<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.P_Mapper">
	<!-- 페이징을 포함한 유기동물 공고 조회, 지역별조회, 검색, 항목별검색  -->
	<select id="PetNoticeByPage" resultType="com.spring.domain.P_DTO">
   <![CDATA[
   SELECT * FROM (
        SELECT
        pet_notice_no
        ,happenDt
        ,happenPlace
        ,kindCd
        ,colorCd
        ,age
        ,weight
        ,noticeNo
        ,noticeSdt
        ,noticeEdt
        ,popfile
        ,processState
        ,sexCd
        ,neuterYn
        ,specialMark
        ,careNm
        ,careAddr
        ,careTel,
        ROW_NUMBER() OVER (ORDER BY pet_notice_no ASC) as rn
        FROM pet_notice
         WHERE ROWNUM <= ( #{pageMaker.cri.pageNum} * #{pageMaker.cri.amount} )  ]]>
		<if test="type == 'allsearch'">
			AND (
			happenDt LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
			OR happenPlace LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
			OR kindCd LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
			OR colorCd LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
			OR age LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
			OR weight LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
			OR noticeNo LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
			OR noticeSdt LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
			OR noticeEdt LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
			OR popfile LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
			OR processState LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
			OR sexCd LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
			OR neuterYn LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
			OR specialMark LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
			OR careNm LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
			OR careAddr LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
			OR careTel LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
			)
		</if>
		<if test="region != null and region != ''">
			AND (SUBSTR(careaddr, 1, INSTR(careaddr, ' ') - 1)) = #{region}
		</if>
		<if test="type == 'careNm'">
			AND careNm LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
		</if>
		<if test="type == 'careAddr'">
			AND careAddr LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
		</if>
		<if test="type == 'kindCd'">
			AND kindCd LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
		</if>
		)
		WHERE rn > ( ( #{pageMaker.cri.pageNum} - 1 ) * #{pageMaker.cri.amount} )

	</select>
	
	<!-- 페이징을 포함한 유기동물 공고 조회, 지역별조회, 검색, 항목별검색 개수  -->
	<select id="CountPetNotice" parameterType="string" resultType="int">
   
   <![CDATA[
    SELECT COUNT(1) FROM pet_notice WHERE pet_notice_no >= 0]]>

		<if test="type == 'allsearch'">
			AND (happenDt LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
			OR happenPlace LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
			OR kindCd LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
			OR colorCd LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
			OR age LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
			OR weight LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
			OR noticeNo LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
			OR noticeSdt LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
			OR noticeEdt LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
			OR popfile LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
			OR processState LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
			OR sexCd LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
			OR neuterYn LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
			OR specialMark LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
			OR careNm LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
			OR careAddr LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
			OR careTel LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
			)
		</if>
		<if test="region != null and region != ''">
			AND (SUBSTR(careaddr, 1, INSTR(careaddr, ' ') - 1)) = #{region}
		</if>
		<if test="type == 'careNm'">
			AND careNm LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
		</if>
		<if test="type == 'careAddr'">
			AND careAddr LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
		</if>
		<if test="type == 'kindCd'">
			AND kindCd LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
		</if>
	</select>
	
	<!-- 유기동물 공고 상세조회 -->
	<select id="selectP" resultType="com.spring.domain.P_DTO">
  		<![CDATA[
  		SELECT*FROM pet_notice WHERE pet_notice_no=#{pet_notice_no} 
		]]>
	</select>

	<!-- 유기동물 공고 즐겨찾기 등록 -->
	<insert id="insertPetnoticeData">
	INSERT INTO favoritep(
	favoritep_no
	,nickname
	,favoritep_reg_date
	,pet_notice_no
	,happenDt
	,happenPlace
	,kindCd
	,colorCd
	,age
	,weight
	,noticeNo
	,noticeSdt
	,noticeEdt
	,popfile
	,processState
	,sexCd
	,neuterYn
	,specialMark
	,careNm
	,careAddr
	,careTel
	)
	values(
	seq_favoritep_no.nextval
	,#{nickname}
	,sysdate
	,(SELECT pet_notice_no from pet_notice where pet_notice_no=#{dto.pet_notice_no})
	,(SELECT happenDt FROM pet_notice WHERE happenDt = #{dto.happenDt,jdbcType=VARCHAR})
	,(SELECT happenPlace FROM pet_notice WHERE happenPlace = #{dto.happenPlace,jdbcType=VARCHAR})
	,(SELECT kindCd FROM pet_notice WHERE kindCd = #{dto.kindCd,jdbcType=VARCHAR})
	,(SELECT colorCd FROM pet_notice WHERE colorCd = #{dto.colorCd,jdbcType=VARCHAR})
	,(SELECT age FROM pet_notice WHERE age = #{dto.age,jdbcType=VARCHAR})
	,(SELECT weight FROM pet_notice WHERE weight = #{dto.weight,jdbcType=VARCHAR})
	,(SELECT noticeNo FROM pet_notice WHERE noticeNo = #{dto.noticeNo,jdbcType=VARCHAR})
	,(SELECT noticeSdt FROM pet_notice WHERE noticeSdt = #{dto.noticeSdt,jdbcType=VARCHAR})
	,(SELECT noticeEdt FROM pet_notice WHERE noticeEdt = #{dto.noticeEdt,jdbcType=VARCHAR})
	,(SELECT popfile FROM pet_notice WHERE popfile = #{dto.popfile,jdbcType=VARCHAR})
	,(SELECT processState FROM pet_notice WHERE processState = #{dto.processState,jdbcType=VARCHAR})
	,(SELECT sexCd FROM pet_notice WHERE sexCd = #{dto.sexCd,jdbcType=VARCHAR})
	,(SELECT neuterYn FROM pet_notice WHERE neuterYn = #{dto.neuterYn,jdbcType=VARCHAR})
	,(SELECT specialMark FROM pet_notice WHERE specialMark = #{dto.specialMark,jdbcType=VARCHAR})
	,(SELECT careNm FROM pet_notice WHERE careNm = #{dto.careNm,jdbcType=VARCHAR})
	,(SELECT careAddr FROM pet_notice WHERE careAddr = #{dto.careAddr,jdbcType=VARCHAR})
	,(SELECT careTel FROM pet_notice WHERE careTel = #{dto.careTel,jdbcType=VARCHAR})
	)
	</insert>
	
	<!-- 유기동물 공고 즐겨찾기 삭제 -->
	<delete id="deletePetnoticeData">
		DELETE FROM favoritep WHERE pet_notice_no=#{pet_notice_no}
	</delete>
</mapper>