<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.spring.mapper.ReplyMapper">
  	<!-- <select id="selectCommunity" parameterType="int" resultType="com.spring.domain.CommunityDTO">
  		<![CDATA[
  		select c_no, title, content, nickname, reg_date, view_count from community where c_no=#{c_no}
  		]]>
  	</select>
 -->  	
  	<select id="replyList" parameterType="int" resultType="com.spring.domain.ReplyDTO">
	    <![CDATA[
		 select r_no, (select c_no from community where c_no=reply.c_no) as c_no, (select nickname from members where nickname=reply.nickname) as nickname, rcontent, reg_date from reply where c_no=#{c_no} order by reg_date asc
		]]>
	</select>
	
	<select id="cntTotal" resultType="int">
  		select count(*) from reply where c_no = #{c_no}
  	</select>
  	
  	<insert id="insertReply">
	      INSERT INTO reply(r_no, c_no, nickname, rcontent, reg_date) VALUES(seq_reply_no.nextval, #{c_no}, #{nickname,jdbcType=VARCHAR}, #{rcontent,jdbcType=VARCHAR}, sysdate)
	<!-- #{nickname,jdbcType=VARCHAR} --><!-- #{title,jdbcType=VARCHAR} --><!-- #{content,jdbcType=VARCHAR} -->
	</insert>
	
	<update id="updateReply">
		UPDATE reply SET rcontent=#{rcontent,jdbcType=VARCHAR} where r_no=#{r_no}
	</update>

	<delete id="deleteReply">
	      DELETE FROM reply WHERE r_no=#{r_no}
	</delete>
  </mapper>
