<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.spring.mapper.S_Mapper">
  <select id="selectS" resultType="com.spring.domain.S_DTO">
  		<![CDATA[
  		SELECT  
			shelter_no
			 ,careNm
			 ,divisionNm
			 ,saveTrgtAnimal
			 ,careAddr
			 ,weekOprStime
			 ,weekOprEtime
			 ,weekCellStime 
			 ,weekCellEtime 
			 ,weekendOprStime
			 ,weekendOprEtime  
			 ,weekendCellStime  
			 ,weekendCellEtime
			 ,closeDay
			 ,careTel
			 FROM shelter where shelter_no=#{shelter_no}
			 ]]>
  	</select>
  	
  	<select id="selectAllBoard" resultType="com.spring.domain.S_DTO">
  		SELECT * FROM shelter
  	</select>
  	
  	
  	<select id="selectAllBoardByPage" resultType="com.spring.domain.S_DTO">
  		<![CDATA[
  		SELECT * FROM (
				SELECT
				 ROWNUM as rn
				,shelter_no  
				,careNm  
				,divisionNm 
				,saveTrgtAnimal 
				,careAddr 
				,weekOprStime 
				,weekOprEtime
				,weekCellStime 
				,weekCellEtime  
				,weekendOprStime  
				,weekendOprEtime  
				,weekendCellStime 
				,weekendCellEtime 
				,closeDay 
				,careTel
				FROM  shelter 
				WHERE ROWNUM <= ( #{cri.pageNum} * #{cri.amount} )   
				       )
				WHERE rn > ( ( #{cri.pageNum} - 1 ) * #{cri.amount} ) 
				]]>
  	</select>
  	</mapper>