<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.spring.mapper.W_Mapper">
  <select id="selectW" resultType="com.spring.domain.W_DTO">
  		<![CDATA[
  		SELECT with_pet_no
				, building
				, category3
				, road
				, tel
				, homepage
				, day_off
				, hour
				, parking
				, with_pet_info
				, only_pet_info
				, pet_size
				, pet_limit
				, inside
				, outside
				, extra
				FROM with_pet WHERE with_pet_no=#{with_pet_no}
				]]>
  	</select>
  	
  	<select id="selectAllBoard" resultType="com.spring.domain.W_DTO">
  		SELECT * FROM with_pet
  	</select>

  	
  	<select id="selectAllBoardByPage" resultType="com.spring.domain.W_DTO">
  		<![CDATA[
  		SELECT * FROM (
						SELECT
						ROWNUM as rn
						,with_pet_no
						,building
						,category3
				        ,road
						,tel
						,homepage
						,day_off
						,hour 
						,parking 
						,with_pet_info 
						,only_pet_info 
						,pet_size
						,pet_limit 
						,inside
						,outside
						,extra
						FROM with_pet 
						WHERE ROWNUM <= ( #{cri.pageNum} * #{cri.amount} )  
						  )\r\n"
						WHERE rn > ( ( #{cri.pageNum} - 1 ) * #{cri.amount} )
						]]>
  	</select>
  	</mapper>