<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.spring.mapper.W_Mapper">

<!-- 전체검색 -->
<select id="categorySearchList" resultType="com.spring.domain.W_DTO">
   <![CDATA[
         SELECT * FROM (
         SELECT
         ROWNUM as rn
         ,with_pet_no
         , building
         , category3
         , road
         , tel
         , homepage
         , day_off
         , hour
         , parking
         , with_pet_info
         , only_pet_info
         , pet_size
         , pet_limit
         , inside
         , outside
         , extra
         FROM with_pet
         WHERE ROWNUM <= ( #{pageMaker.cri.pageNum} * #{pageMaker.cri.amount} ) 
         AND category3 = #{category3,jdbcType=VARCHAR} ]]>
         <if test = "type == 'allsearch'">             
           AND (
            building LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
            OR road LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
            OR tel LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
            OR homepage LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
            OR day_off LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
            OR hour LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
            OR parking LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
            OR with_pet_info LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
            OR only_pet_info LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
            OR pet_size LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
            OR pet_limit LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
            OR inside LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
            OR outside LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
            OR extra LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
            )
            </if>
       <if test="region != null and region != ''">
          AND (SUBSTR(road, 1, INSTR(road, ' ') - 1)) = #{region}
       </if>
       <if test="type == 'building'">
          AND BUILDING LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
       </if>
       <if test="type == 'road'">
          AND ROAD LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
       </if>
       ) 
          WHERE rn > ( #{pageMaker.cri.pageNum} - 1 ) * #{pageMaker.cri.amount} 
</select>


<select id="countCategoryWithSearch" parameterType="string" resultType="int">
    <![CDATA[
        SELECT COUNT(1) FROM with_pet WHERE category3 = #{category3,jdbcType=VARCHAR}]]>
       <if test = "type == 'allsearch'">   
        AND (building LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
         OR road LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
         OR tel LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
         OR homepage LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
         OR day_off LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
         OR hour LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
         OR parking LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
         OR with_pet_info LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
         OR only_pet_info LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
         OR pet_size LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
         OR pet_limit LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
         OR inside LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
         OR outside LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
         OR extra LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
         ) 
       </if> 
    <if test = "region != null and region != ''">
        AND (SUBSTR(road, 1, INSTR(road, ' ') - 1)) = #{region}
    </if>   
    <if test="type == 'building'">
          AND BUILDING LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
       </if>
       <if test="type == 'road'">
          AND ROAD LIKE '%'|| #{keyword,jdbcType=VARCHAR} || '%'
       </if>   
</select>
  
  <select id="selectW" resultType="com.spring.domain.W_DTO">
        <![CDATA[
        SELECT with_pet_no
            , building
            , category3
            , road
            , tel
            , homepage
            , day_off
            , hour
            , parking
            , with_pet_info
            , only_pet_info
            , pet_size
            , pet_limit
            , inside
            , outside
            , extra
            FROM with_pet WHERE with_pet_no=#{with_pet_no}
            ]]>
     </select>
     
     
     <select id="selectCountAllBoard" resultType="int" parameterType="int">
    SELECT COUNT(1) FROM with_pet
</select>

     <select id="selectAllBoard" resultType="com.spring.domain.W_DTO">
        <![CDATA[
        SELECT*FROM(SELECT ROWNUM as rn,
              with_pet_no
            , building
            , category3
            , road
            , tel
            , homepage
            , day_off
            , hour
            , parking
            , with_pet_info
            , only_pet_info
            , pet_size
            , pet_limit
            , inside
            , outside
            , extra
      from with_pet
         WHERE ROWNUM <=(2*10)
         )
         WHERE rn>((2-1)*10)
         ]]>
     </select>

     
     <select id="selectAllBoardByPage" resultType="com.spring.domain.W_DTO">
        <![CDATA[
        SELECT * FROM (
            SELECT
            ROWNUM as rn
            ,with_pet_no
            , building
            , category3
            , road
            , tel
            , homepage
            , day_off
            , hour
            , parking
            , with_pet_info
            , only_pet_info
            , pet_size
            , pet_limit
            , inside
            , outside
            , extra
            FROM  with_pet
             WHERE ROWNUM <= ( #{cri.pageNum} * #{cri.amount} )  
              )
            WHERE rn > ( ( #{cri.pageNum} - 1 ) * #{cri.amount} ) 
            ]]>
     </select>
     
     <insert id="insertWith_petData">
  
        INSERT INTO favoritew (
               favoritew_no,
               nickname,
                favoritew_reg_date,
               with_pet_no,
                building,
                category3,
                road,
                tel,
                homepage,
                day_off,
                hour,
                parking,
                with_pet_info,
                only_pet_info,
                pet_size,
                pet_limit,
                inside,
                outside,
                extra
            )
            VALUES (
                seq_favoritew_no.nextval,
                #{nickname},
                sysdate,
                (SELECT with_pet_no FROM with_pet WHERE with_pet_no = #{dto.with_pet_no}),
                (SELECT building FROM with_pet WHERE building = #{dto.building,jdbcType=VARCHAR}),
                (SELECT category3 FROM with_pet WHERE category3 = #{dto.category3,jdbcType=VARCHAR}),
                (SELECT road FROM with_pet WHERE road = #{dto.road,jdbcType=VARCHAR}),
                (SELECT tel FROM with_pet WHERE tel = #{dto.tel,jdbcType=VARCHAR}),
                (SELECT homepage FROM with_pet WHERE homepage = #{dto.homepage,jdbcType=VARCHAR}),
                (SELECT day_off FROM with_pet WHERE day_off = #{dto.day_off,jdbcType=VARCHAR}),
                (SELECT hour FROM with_pet WHERE hour = #{dto.hour,jdbcType=VARCHAR}),
                (SELECT parking FROM with_pet WHERE parking = #{dto.parking,jdbcType=VARCHAR}),
                (SELECT with_pet_info FROM with_pet WHERE with_pet_info = #{dto.with_pet_info,jdbcType=VARCHAR}),
                (SELECT only_pet_info FROM with_pet WHERE only_pet_info = #{dto.only_pet_info,jdbcType=VARCHAR}),
                (SELECT pet_size FROM with_pet WHERE pet_size = #{dto.pet_size,jdbcType=VARCHAR}),
                (SELECT pet_limit FROM with_pet WHERE pet_limit = #{dto.pet_limit,jdbcType=VARCHAR}),
                (SELECT inside FROM with_pet WHERE inside = #{dto.inside,jdbcType=VARCHAR}),
                (SELECT outside FROM with_pet WHERE outside = #{dto.outside,jdbcType=VARCHAR}),
                (SELECT extra FROM with_pet WHERE extra = #{dto.extra,jdbcType=VARCHAR})
            )            
     </insert>
     <delete id="deleteWith_petData">
        DELETE FROM favoritew WHERE with_pet_no=#{with_pet_no}
     </delete>
     
  
     <!-- 검색창 -->
<select id="selectSearchList" parameterType="com.spring.domain.W_DTO" resultType="com.spring.domain.W_DTO">
   select * from with_pet where category3 = #{category3,jdbcType=VARCHAR}
    <choose>
        <when test="type !=null and type.equals('building')">
            AND building LIKE '%'|| #{keyword}|| '%'
        </when>
        <when test="type !=null and type.equals('road')">
            AND road LIKE '%'|| #{keyword}|| '%'
        </when>
    </choose>
</select>
     </mapper>